<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 对于Android 13（API 33）及以上版本的图片读取权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- 对于Android 12（API 32）及以下版本的存储读取权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- 在Android 10（API 29）及以上版本中请求访问所有文件的权限 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".t.ColorApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coloring250924"
        tools:replace="android:dataExtractionRules,android:fullBackupContent">


        <service
            android:name="com.announcement.comprehension.t.ForeSv"
            android:exported="false" />

        <activity
            android:name=".ReWaPaFrt"
            android:configChanges="keyboard|keyboardHidden|locale|orientation|uiMode|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/kibakal"
            android:label="@string/bi_spg"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:roundIcon="@drawable/kibakal"
            android:screenOrientation="behind"
            android:theme="@style/Tw_cas" />

        <activity
            android:name=".info.FunnyChApple"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name=".t.SProvider"
            android:authorities="${applicationId}.avo.cfa"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.samsung.android.search.intent.ACTION_CONTENT_SEARCH" />
                <action android:name="com.samsung.android.sdk.command.COMMAND_PROVIDER" />
                <action android:name="com.samsung.android.intent.action.DEVICE_SEARCH" />
            </intent-filter>
        </provider>

        <receiver
            android:name=".t.SReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.adservices.PACKAGE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".t.FireMsg"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".info.InfoApple"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultApple"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".draw.DrawApple"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MissApple"
            android:enabled="@bool/ka_en"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HoursApple"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>